@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: black;
}

.App{
  width: 80rem;
}
@media only screen and (max-width: 768px) {
  .App {
    width:35rem;
    
  }
}
